.git
.gitignore
.env
.env.backup
.env.production
.phpunit.cache
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
docker-compose.yml
Dockerfile
README.md
*.md

